.may-post-card {
  max-width: 300px;
  margin: 10px;

  .may-post-card-img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  img {
    height: 150px;
  }

  .title {
    font-size: 16px;
  }

  .body {
    font-size: 10px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .blockquote {
    font-size: 12px;
    margin: 5px 0;
  }

  .custom-btn {
    border: 1px solid darkslategrey;
  }
}

//Loader
@keyframes pulse {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: .25;
    transform: scale(.75);
  }
}
.pulse-container {
  margin: 0 auto 10px;
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pulse-bubble {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #3ff9dc;
}

.pulse-bubble-1 {
  animation: pulse .4s ease 0s infinite alternate;
}
.pulse-bubble-2 {
  animation: pulse .4s ease .2s infinite alternate;
}
.pulse-bubble-3 {
  animation: pulse .4s ease .4s infinite alternate;
}
